*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
.container{
    max-width: 75%;
    margin: 0 auto;
}
html, body{
    min-height: 100vh;
}
.full-screen{
    min-width: 100vw;
    min-height: 100vh;
}
section#intro{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
section#quien_soy {
    background: linear-gradient(90deg, rgba(1,88,101,1) 0%, rgba(246,146,227,1) 100%);
}
section#cosas_feliz {
    background: radial-gradient(circle, rgba(63,251,198,1) 0%, rgba(252,146,70,1) 100%);
}
section#cosas_enojar {
    background: linear-gradient(90deg, rgba(114,180,58,1) 0%, rgba(253,107,29,0.6446953781512605) 44%, rgba(252,219,69,1) 100%);
}
section#unico {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,101,1) 100%);
}
h1, h2{
    background-color: snow ;
    margin: 10px;
    padding: 10px;
    font-family: 'Fascinate', cursive;
    font-size: 30px;
}
.menu{
  position: fixed;
  width: 100%;
}

#menu, ul {
    color: thistle;
    border: solid 1px black;
    border-bottom: solid;
    border-radius: 5px;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(130, 238, 238);
    margin-bottom: 5px;
    

} 
li{
    list-style: none;
}

section{
    display: flex;
  
}
ul.menu li :hover{
    color: teal;
    padding: 15px 10px;
}

img{
    width: 75%;
    height: 75%;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
h1{
    padding: 50px 0 0 0;
}
a{
    text-decoration: none;
    font-family: 'Titan One', cursive;
}